
.container{
    background: linear-gradient(to right ,#1724E8,#E8178D,#E8DB17,#17E872); 
    margin-top: 100px;
    background: rgba(255,255,255.0.06);
    box-shadow: 0 8px 32px 0 rgba(31,38,135,.37);
    border-radius:10px;
    border-top:1px solid rgba(255,255,255,.3);
    border-left:1px solid rgba(255,255,255,.3);
   width: 450px;
}


.header{
    color:rgba(255,255,255);
    text-align: center;
    background-color: #2a0845;
    border-top-right-radius:10px;
    border-top-left-radius:10px;
    padding: 10px 20px;
    border-bottom: 2px solid #494848;
}


.form{
    padding: 30px 10px;
}


form:before{
    content: '';
    position: absolute;
    bottom: 3%;
    right: 20%;
    width:150px;
    height: 150px;
    background:#28FB04;
    border-radius:50%;
    z-index: -1;
    opacity: .6;
}
form:after{
    content: '';
    position: absolute;
    top: 7%;
    left: 22%;
    width:100px;
    height:100px;
    background: #D704FB;
    border-radius:50%;
    z-index: -1;
    opacity: .7;
}




.form-group{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}


.form-group label{
    color:rgba(255,255,255);
    display: block;
    margin-bottom: 5px;
    font-size: 20px;
}


.form-group input{
    border: 2px solid #f0f0f0;
    display: block;
    border-radius: 4px;
    font-size: .8rem;
    width: 100%;
    padding: 10px;
}


.form input::placeholder{
    color: #2a0845;
}


.form-group i{
    position: absolute;
    right: 10px;
    top: 35px;
    visibility: hidden;
}


.form-group span{
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: bolder;
    font-size: 1rem;
    visibility: hidden;
}




.form-group.success input{
    border-color: #2ecc71;
}


.form-group.error input{
    border-color: #e74c3c;
}


.form-group.error span{
    color: #1f1d1d;
    visibility: visible;
}


.form-group.success i.ion-ios-checkmark{
    visibility: visible;
    color: #2ecc71;
}


.form-group.error i.ion-android-alert{
    visibility: visible;
    color: #e74c3c;
}


.form #submit{
    background-color: #2a0845;
    border: none;
    outline: none;
    color: #fff;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: all .5s;
}


.form #submit:hover{
    background-color: #6441a5;
}


@media only screen and (max-width : 500px){
    .form{
        width: 100%;
    }
    .form-group span{
        font-size: xx-small;
    }
}
#ref{
    padding: 10px;
    display: flex;
    color:rgb(196, 74, 74);
    justify-content: center;
    align-items: center;
}