<div class="container">
    <div class="header">
        <h4>Registration Form</h4>
    </div>
    <form action="" class="form">
        <div class="form-group">
            <label for="">Username</label>
            <input type="text" placeholder="Username" id = "username" autocomplete="off">
            <i class="ion-ios-checkmark"></i>
            <i class="ion-android-alert"></i>
            <span></span>
        </div>
        <div class="form-group">
            <label for="">Email</label>
            <input type="text" placeholder="Email" id = "email" autocomplete="off">
            <i class="ion-ios-checkmark"></i>
            <i class="ion-android-alert"></i>
            <span></span>
        </div>
        <div class="form-group">
            <label for="">Phone number</label>
            <input type="text" placeholder="Phonenumber" id = "phonenumber" autocomplete="off">
            <i class="ion-ios-checkmark"></i>
            <i class="ion-android-alert"></i>
            <span></span>
        </div>
        <div class="form-group">
            <label for="">Password</label>
            <input type="password" placeholder="Password" id = "password" autocomplete="off">
            <i class="ion-ios-checkmark"></i>
            <i class="ion-android-alert"></i>
            <span></span>
        </div>
        <div class="form-group">
            <label for="">Confirm Password</label>
            <input type="password" placeholder="Confirm password" id = "confirmpassword" autocomplete="off">
            <i class="ion-ios-checkmark"></i>
            <i class="ion-android-alert"></i>
            <span></span>
        </div>
        <button id = 'submit'>Create Account</button>
        <a href="login.html"id ='ref'>Existing User Sign In</a>
    </form>
</div>
<router-outlet></router-outlet>